.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-size: 68px;
    font-weight: bold;
}
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}
ul{
   display: flex;
   width: 400px;
   justify-content: space-between;
   
}
nav{
    margin-right: 5%;
}
li{
   font-weight: lighter;
}
.navigation{
    display: flex;
    /* width: 600px; */
    justify-content: space-between;
    align-items: center;
    
}
.navigation button {
    border-radius: 37px;
    padding: 20px;
    background: none;
    font-size: 16px;
    font-weight: lighter;
}
li:hover{
    border-bottom: 2px solid;
    border-image: linear-gradient(45deg,red,blue) 10;
}
.first-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
}
.image{
    width: 45%;
    padding-right: 50px;
}
.image img{
    width: 100%;
}
.text h2{
    font-size: 62px;
    font-weight: bold;
}
.text p{
    font-size: 16px;
    font-weight: lighter;
}
.text button{
    border-radius: 37px;
    padding: 20px;
    background-color: none;
    font-size: 24px;
    font-weight: lighter;
    width: 276px;
    background-image: linear-gradient(#72A1FF, #C898FF);
    border: none;
}
/* 2nd section starts */

.second-section{
    position: relative;
    width: 100%;
    

}
.background{
    width: 100%;
}
.foni{
    position: absolute;
    top: 0;
    left: 0;
}
.greatest-not{
    position: absolute;
    top: 20%;   
    left: 35%;
    width: 30%;
}
.greatest-not h3{
    font-size: 35px;
    color: #fff;
    margin-left: 20%;
    margin-bottom: 5%;
}
.greatest-not p{
    color: #fff;
}

.air-box{
    width: 626px;
    height: 800px;
}
.air-box img{
    width: 100%;
}

/* 3rd section starts */
.third-section {
    width: 100%;
    margin: 0 auto;
    background-color: #F8FAFE;
    padding-bottom: 200px;
    padding-top: 267px;
}
.third-section h2{
    font-size: 40px;
    margin-bottom: 60px;
}
.main-div{
    width: 80%;
    margin: 0 auto;
}
.sm-box{
    width: 420px;
    height: 446px;
    background-color: #fff;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    
}
.first-box {
    margin-bottom: 50px;
    
}
.first-box, .second-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.first-box img{
    width: 67px;
    height: 90px;
    margin-bottom: 10px;
}
.sm-box h5{
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 4th section */
.fourth-section {
    width: 100%;
    padding-top: 189px;
}
.fourth-section h2{
    text-align: center;
    font-size: 40px;
}
.form-div{
    width: 60%;
    margin: 0 auto;
}

.form-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}
select{
    display: block;
    width: 500px;
    height: 68px;
    border-radius: 11px;
    margin-bottom: 27px;
}
